{% extends 'base.html.twig' %}

{% form_theme formView 'bootstrap_5_layout.html.twig' %}

{% block title %}SAV-Mon centre auditif
{% endblock %}

{% block body %}
	<img src="/images/main.png" alt="photo arrière plan" class="w-100">
	<h1 class="text-center">
		Bienvenue au SAV
	</h1>
	<p class="text-center">
		Veuillez remplir le formulaire suivant pour pouvoir déposer le produit à réparer.
	</p>

	{{ form_start(formView)}}
	<div class="row">
		<div class="col">
			{{ form_row(formView.name)}}
			{{ form_row(formView.prenom)}}
			{{ form_row(formView.email)}}
			{{ form_row(formView.telephone)}}
		</div>
		<div class="col">
			{{ form_row(formView.nomDuProduit)}}
			{{ form_row(formView.categorie)}}
			{{ form_row(formView.lieuDeDepot)}}
			{{ form_row(formView.date)}}
			{{ form_row(formView.trancheHoraire)}}
		</div>
	</div>

	<button type="submit" class="butn btn-primary">
		Valider la demande
	</button>
	{{ form_end(formView) }}
	{% block footer %}{% endblock %}
{% endblock %}
